@use "@/styles/helpers" as *;

.footer {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(32) rem(16) rem(20);
    row-gap: rem(24);

    @include mobile-s {
      flex-direction: column;
    }
  }
}

.soc1als__list {
  display: flex;
  column-gap: rem(24);
  align-items: center;
  justify-content: space-between;
}

.soc1als__item {
  display: flex;
  position: relative;
}

.soc1als__link {
  --size: #{rem(22)};

  @include square(var(--size));

  &:hover > svg path {
    fill: var(--color-orange);
  }
}