@use "@/styles/helpers" as *;

.usability__inner {
  display: grid;
  grid-template-columns: 31.2% auto;
  gap: rem(64);

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.usability__heading {
  font-weight: 800;
  line-height: 1.2;
  font-size: fluid(48, 40);
}

.usability__list {
  display: flex;
  flex-direction: column;
  gap: fluid(48, 24);
}

.usability__item {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  padding-left: rem(52);
  position: relative;

  &::before {
    content: url("@/assets/icons/icon-bullet-point.svg");
    position: absolute;
    width: rem(16);
    height: rem(24);
    left: 0;
  }
}

.usability__title {
  font-weight: bold;
  line-height: 1.3;
  font-size: fluid(24, 22);
}

.usability__description {
  font-size: fluid(24, 22);
  font-weight: 500;
  line-height: 1.5;
  font-family: var(--font-family-accent);
  color: var(--color-green);
}
